@font-face {
    font-family: "Ubuntu Mono";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Ubuntu Mono Italic"),
         local("UbuntuMono-Italic"),
         local("UbuntuMono-RI"),
         local("Ubuntu Mono"),
         url("./ubuntu/woff2/UbuntuMono-RI.woff2") format("woff2"),
         url("./ubuntu/woff/UbuntuMono-RI.woff") format("woff"),
         url("./ubuntu/ttf/UbuntuMono-RI.ttf") format("truetype");
} @font-face {
    font-family: "Ubuntu Mono";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local("Ubuntu Mono Bold Italic"),
         local("UbuntuMono-BoldItalic"),
         local("UbuntuMono-BI"),
         local("Ubuntu Mono"),
         url("./ubuntu/woff2/UbuntuMono-BI.woff2") format("woff2"),
         url("./ubuntu/woff/UbuntuMono-BI.woff") format("woff"),
         url("./ubuntu/ttf/UbuntuMono-BI.ttf") format("truetype");
}


@font-face {
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Ubuntu Mono"),
         local("UbuntuMono"),
         local("UbuntuMono-R"),
         local("Ubuntu Mono"),
         url("./ubuntu/woff2/UbuntuMono-R.woff2") format("woff2"),
         url("./ubuntu/woff/UbuntuMono-R.woff") format("woff"),
         url("./ubuntu/ttf/UbuntuMono-R.ttf") format("truetype");
} @font-face {
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Ubuntu Mono Bold"),
         local("UbuntuMono-Bold"),
         local("UbuntuMono-B"),
         local("Ubuntu Mono"),
         url("./ubuntu/woff2/UbuntuMono-B.woff2") format("woff2"),
         url("./ubuntu/woff/UbuntuMono-B.woff") format("woff"),
         url("./ubuntu/ttf/UbuntuMono-B.ttf") format("truetype");
}


@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local("Ubuntu Light Italic"),
         local("Ubuntu-Light-Italic"),
         local("Ubuntu-LI"),
         local("Ubuntu"),
         url("./ubuntu/woff2/Ubuntu-LI.woff2") format("woff2"),
         url("./ubuntu/woff/Ubuntu-LI.woff") format("woff"),
         url("./ubuntu/ttf/Ubuntu-LI.ttf") format("truetype");
} @font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Ubuntu Italic"),
         local("Ubuntu-Italic"),
         local("Ubuntu-RI"),
         local("Ubuntu"),
         url("./ubuntu/woff2/Ubuntu-RI.woff2") format("woff2"),
         url("./ubuntu/woff/Ubuntu-RI.woff") format("woff"),
         url("./ubuntu/ttf/Ubuntu-RI.ttf") format("truetype");
} @font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Ubuntu"),
         local("Ubuntu-Medium-Italic"),
         local("Ubuntu-MI"),
         local("Ubuntu"),
         url("./ubuntu/woff2/Ubuntu-MI.woff2") format("woff2"),
         url("./ubuntu/woff/Ubuntu-MI.woff") format("woff"),
         url("./ubuntu/ttf/Ubuntu-MI.ttf") format("truetype");
} @font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local("Ubuntu Bold Italic"),
         local("Ubuntu-BoldItalic"),
         local("Ubuntu-BI"),
         local("Ubuntu"),
         url("./ubuntu/woff2/Ubuntu-BI.woff2") format("woff2"),
         url("./ubuntu/woff/Ubuntu-BI.woff") format("woff"),
         url("./ubuntu/ttf/Ubuntu-BI.ttf") format("truetype");
}


@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Ubuntu Light"),
         local("Ubuntu-Light"),
         local("Ubuntu-L"),
         local("Ubuntu"),
         url("./ubuntu/woff2/Ubuntu-L.woff2") format("woff2"),
         url("./ubuntu/woff/Ubuntu-L.woff") format("woff"),
         url("./ubuntu/ttf/Ubuntu-L.ttf") format("truetype");
} @font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Ubuntu"),
         local("Ubuntu"),
         local("Ubuntu-R"),
         local("Ubuntu"),
         url("./ubuntu/woff2/Ubuntu-R.woff2") format("woff2"),
         url("./ubuntu/woff/Ubuntu-R.woff") format("woff"),
         url("./ubuntu/ttf/Ubuntu-R.ttf") format("truetype");
} @font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Ubuntu"),
         local("Ubuntu-Medium"),
         local("Ubuntu-M"),
         local("Ubuntu"),
         url("./ubuntu/woff2/Ubuntu-M.woff2") format("woff2"),
         url("./ubuntu/woff/Ubuntu-M.woff") format("woff"),
         url("./ubuntu/ttf/Ubuntu-M.ttf") format("truetype");
} @font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Ubuntu Bold"),
         local("Ubuntu-Bold"),
         local("Ubuntu-B"),
         local("Ubuntu"),
         url("./ubuntu/woff2/Ubuntu-B.woff2") format("woff2"),
         url("./ubuntu/woff/Ubuntu-B.woff") format("woff"),
         url("./ubuntu/ttf/Ubuntu-B.ttf") format("truetype");
}


@font-face {
    font-family: "Shin Go";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Shin Go Light"),
         local("Shin Go-Light"),
         local("Shin Go-L"),
         local("Shin Go"),
         url("./shingo/woff2/ShinGo-L.woff2") format("woff2"),
         url("./shingo/woff/ShinGo-L.woff") format("woff"),
         url("./shingo/otf/ShinGo-L.otf") format("opentype");
} @font-face {
    font-family: "Shin Go";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Shin Go Regular"),
         local("Shin Go-Regular"),
         local("Shin Go-R"),
         local("Shin Go"),
         url("./shingo/woff2/ShinGo-R.woff2") format("woff2"),
         url("./shingo/woff/ShinGo-R.woff") format("woff"),
         url("./shingo/otf/ShinGo-R.otf") format("opentype");
} @font-face {
    font-family: "Shin Go";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Shin Go Medium"),
         local("Shin Go-Medium"),
         local("Shin Go-M"),
         local("Shin Go"),
         url("./shingo/woff2/ShinGo-M.woff2") format("woff2"),
         url("./shingo/woff/ShinGo-M.woff") format("woff"),
         url("./shingo/otf/ShinGo-M.otf") format("opentype");
} @font-face {
    font-family: "Shin Go";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Shin Go Bold"),
         local("Shin Go-Bold"),
         local("Shin Go-B"),
         local("Shin Go"),
         url("./shingo/woff2/ShinGo-B.woff2") format("woff2"),
         url("./shingo/woff/ShinGo-B.woff") format("woff"),
         url("./shingo/otf/ShinGo-B.otf") format("opentype");
}

input[type="checkbox"] + label,
input[type="radio"] + label,
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

#logo {
    height: 148px;
    object-fit: contain;
    background-color: #fcc;
    width: calc(100% + 8px);
    padding: 16px 0px;
    left: -8px;
    top: -8px;
    position: relative;
}

.shill {
    --edge: #08f;
    --bg: #cef;
    padding: 8px 0px 8px 4px;
    border-left: 4px solid var(--edge);
    background-color: var(--bg);
    margin: 16px;
    border-radius: 4px;
} .shill.red {
    --edge: #f00;
    --bg: #fcc;
} .shill.green {
    --edge: #0f0;
    --bg: #cfc;
} .shill.grey {
    --edge: #888;
    --bg: #efefef;
} .shill.yellow {
    --edge: #fa4;
    --bg: #ffa;
}

t {
    font-weight: 200;
    font-style: italic;
    font-size: small;
}

body {
    min-width: 874px;
}
